%ul
  %li= link_to "Home", admin_dashboard_path
  |
  %li= link_to "Categories", admin_categories_path
  |
  %li= link_to "Dishes", admin_dishes_path
  |
  %li= link_to "Orders", admin_orders_path
  |
  %li= link_to "Import CSV", admin_import_csv_path
  |
  %li=link_to "Sign out", destroy_user_session_path , :method => :delete, :class=>'red'

