%h1 Тел: 56-60-26,  Адрес: Шевченка 396 к180
%h2 Today orders
%table
  %thead
    %tr
      %th id
      %th user
      %th data
      %th dishes

  - @orders.each do |order|
    %tr
      %td= order.id
      %td= order.user.email
      %td= order.created_at.to_date
      %td.aright
        - order.dishes.each do |dish|
          =dish.name+" #{dish.category.name.to_s[0..1]} (#{dish.price})"
        %span.green="sum: #{order.dishes.sum('price')} Грн."

%h2 Report

%table
  %thead
    %tr
      %th Category
      %th Name
      %th Description
      %th Сount
      %th Price
      %th Total

  - @orders_dishes_width_count.each do |cod|
    %tr{:class=>"color_#{cod.dish.category.id}"}
      %td= cod.dish.category.name
      %td= cod.dish.name
      %td= cod.dish.description
      %td= cod.cnt
      %td= cod.dish.price
      %td.aright="#{cod.dish.price.to_f*cod.cnt.to_f} Грн."
  %tr
    %td
    %td
    %td
    %td
    %td
    %td.green="SUM: #{@grand_total} ГРН."

%h2 Previous reports
%ul
  - @previous_order.each do |po|
    %li=link_to po , admin_dashboard_show_path(:date => po)

