%table{:class=>"today_created_#{is_today_created @order}"}
  %thead
    %tr
      %th Check
      %th Category
      %th Name
      %th Description
      %th Weight
      %th Price

  = hidden_field_tag "order[dish_ids][]", ""
  -if params[:action] == 'new'
    - for dish in Dish.tomorrow_dishes
      %tr{:class=>"color_#{dish.category.id}"}
        %td= check_box_tag "order[dish_ids][]", dish.id, @order.dishes.include?(dish)
        %td= dish.category.name
        %td= dish.name
        %td= dish.description
        %td= dish.weight
        %td= dish.price
  -else
    - for dish in Dish.week_day_dishes(@order.created_at.wday!= 5 ? @order.created_at.wday+1 : 1)
      %tr{:class=>"color_#{dish.category.id} checked_#{@order.dishes.include?(dish)}"}
        %td
          -if @order.created_at.wday == Time.now.wday
            = check_box_tag "order[dish_ids][]", dish.id, @order.dishes.include?(dish)
          -else
            = check_box_tag "order[dish_ids][]", dish.id, @order.dishes.include?(dish) ,:disabled => true ,:class=> "dis"
        %td= dish.category.name
        %td= dish.name
        %td= dish.description
        %td= dish.weight
        %td= dish.price
