= form_for [:admin,@import_table] do |f|
  -if @import_table.errors.any?
    #error_explanation
      %h2= "#{pluralize(@import_table.errors.count, "error")} prohibited this import_table from being saved:"
      %ul
        - @import_table.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :original_path
    = f.text_field :original_path
  .actions
    = f.submit 'Save'
